.header-item{
    display: flex;
    flex-direction: row;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 12px;
    font-style: normal;
    padding-left: 10px;
    list-style: none;
    
}
.nav-items{
    padding: 30px;
    display: flex;
    background-color: black;
    box-shadow:inset;
    flex: 1;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: flex-start;
    column-gap: 'no-gap';
}
.header-item > li{
    padding-top: 10px;
    padding-left: 10px;
    font-weight: 300;
    color: aliceblue;
    align-items: center;
}
.nav-items >img{
    width: 250px;
}
.heading{
    font-weight: 500;
    font-family: 'Poppins';
}
.footer-items{
    display: flex;
    color: black;
    font-size: 10px;
    justify-content: space-between;
    align-items: center;
    background-color: bisque;
}
.footer-items >img{
    width: 40px;
}