*{
    box-sizing: border-box;
    column-gap: 0ch;
    font-family: Arial, Helvetica, sans-serif;
    align-items: stretch;
}
.header-item{
    display: flex;
    font-size: 18px;
    font-style:oblique;
    list-style-type: none;
    
}

.nav-items{
    
    padding: 20px;
    display: flex;
    background-color: #21222A;
    justify-content: space-between
}
.header-item > li{
    padding-top: 10px;
    padding: 20px;
    font-weight: 300;
    color: whitesmoke;
}
.nav-items >img{
    width: 250px;
}
.heading{
    font-weight: 500;
    font-family: 'Poppins';
}
.body-items > li {
    color:black;
    list-style-position: outside;
}
.footer-items{
    display: flex;
    color: black;
    font-size: 10px;
    justify-content: space-between;
    align-items: center;
    background-color: bisque;
    padding: 20px;

}
.footer-items >img{
    width: 40px;
}
.main-body{
    margin: 100px;
}
.headerno{
    background-color: blue;
}
.main-Container{
    background-color: beige;
}